.textInput {
  outline: none;
  padding: 11px;
  min-width: 150px;
  font-size: 15px;
  line-height: 15px;
  box-sizing: border-box;
  height: 43px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
