@import '/src/website/dimentions';
@import '/src/cms/animations';

.navBar {
  height: $nav-bar-height;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  background: rgba(white, 0.95);
  padding: 0 6px 0 15px;
  overflow: hidden;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
//
//.phone {
//  margin-left: 10px !important;
//  margin-right: 0 !important;
//}
//
//.phone-mobile {
//  margin-left: 0 !important;
//}

.number-mobile {
  display: none;
}

.btn {
  margin-left: 5px;
  
  :global {
    .inner {
      background: #cac664;
      color: white;
      text-shadow: -1px -1px rgba(0, 0, 0, 0.12);
    }
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.logoText {
  height: 20px;
  animation: $popIn;
  margin-top: 5px;
}

.logoText-mobile {
  height: 16px;
}

.logoImg {
  height: 42px;
  width: 42px;
  animation: $popIn;
  margin-left: 15px;
}

.noClick {
  pointer-events: none;
}

.left {
  display: flex;
  align-items: center;
}

.menu {
  margin: 0;
  padding: 5px 0 0 0;
  
  :global {
    li {
      display: block;
    }
    
    .inner {
      justify-content: flex-end;
      font-family: Arial;
      font-size: 18px;
      line-height: 18px;
    }
    
    svg {
      margin: 0 0 0 10px;
    }
  }
}

.more {
  width: 24px;
  
  :global {
    .inner {
      padding: 10px 0;
    }
  }
}
