@import '/src/website/dimentions';
@import '/src/cms/animations';

.navBar {
  height: $nav-bar-height;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  background: rgba(white, 0.9);
  padding: 0 15px;
  overflow: hidden;
  justify-content: space-between;
  box-sizing: border-box;
}

.navBar-mobile {
  img {
    height: 35px;
  }
}

.phone {
  margin-left: 10px !important;
  margin-right: 0 !important;
}

.phone-mobile {
  margin-left: 0 !important;
}

.number-mobile {
  display: none;
}

.btn {
  :global {
    .inner {
      background: #cac664;
      color: white;
      text-shadow: -1px -1px rgba(0, 0, 0, 0.12);
    }
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.logoText {
  height: 29px;
  animation: $popIn;
}

.logoImg {
  height: 42px;
  width: 42px;
  animation: $popIn;
  margin-left: 20px;
}
