@import '/src/website/dimentions';
@import '/src/cms/animations';
@import '/src/media-query-mixins';

.navBar {
  height: $nav-bar-height;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  background: rgba(white, 0.95);
  padding: 0 6px 0 0;
  overflow: hidden;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.phone {

}

.number {
  display: none;
  margin-right: 10px;

  @include media('>phone') {
    display: unset;
  }
}

.number-mobile {
  display: none;
}

.btn {
  margin-right: 10px;
  :global {
    .inner {
      background: #ff9e36;
      color: white;
      border: 2px solid #dc5f32;
      box-sizing: border-box;
      padding: 5px 10px;

      @include media('>phone') {
        padding: 5px 15px;
      }
    }
  }

  &.whastapp {
    :global {
      .inner {
        background: #25d366;
        border-color: #4fac4f;
      }
    }
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  height: 100%;

  h2 {
    font-size: 1.2em;

    @include media('>phone') {
      font-size: 1.5em;
    }
  }
}

.logoText {
  height: 20px;
  animation: $popIn;
  margin-top: 5px;
}

.logoText-mobile {
  height: 16px;
}

.logoImg {
  height: 42px;
  width: 42px;
  animation: $popIn;
  margin-left: 15px;
}

.noClick {
  pointer-events: none;
}

.left {
  display: flex;
  align-items: center;
}

.menu {
  margin: 0;
  padding: 5px 0 0 0;

  :global {
    li {
      display: block;
    }

    .inner {
      justify-content: flex-end;
      font-family: Arial;
      font-size: 18px;
      line-height: 18px;
    }

    svg {
      margin: 0 0 0 10px;
    }
  }
}

.more {
  :global {
    .inner {
      padding: 10px 10px;
    }

    svg {
      height: 36px;
    }
  }
}
