.formContainer {
  width: 100%;
  padding: 0 15px 15px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 670px;
  justify-content: space-around;
}

.sendBtn {
  margin-top: 10px;
  
  :global {
    .inner {
      height: 44px;
      font-size: 18px;
    }
  }
}
