.movie {
  width: 822px;
  height: 450px;
  border-radius: 3px;
  overflow: hidden;
}

.movie-mobile-portrait {
  width: 100%;
  height: 226px;
  flex-shrink: 0;
}

.movie-mobile-landscape {
  width: 100%;
  height: 100%;
  position: fixed;
  box-sizing: border-box;
  border-radius: 0;
}

.movieContainer {
  border-radius: 3px;
  overflow: hidden;
}

.movieContainer-mobile-portrait {
  width: calc(100% - 20px);
  box-sizing: border-box;
}

.movieContainer-mobile-landscape {
  width: 100%;
  height: 100%;
  position: fixed;
  box-sizing: border-box;
}

.logo {
  width: 470px;
  height: 170px;
  background-size: contain !important;
  background: url('logo-new.png') no-repeat center center;
}

.logo-mobile {
  width: 100%;
}

.header {
  width: 822px;
  box-sizing: border-box;
  height: 230px;
  display: flex;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.header-mobile-portrait {
  margin-bottom: 10px;
  width: calc(100% - 20px);
  display: block;
}

.header-mobile-landscape {
  display: none;
}

.clickCall {
  position: absolute;
  font-family: monospace;
  font-size: 20px;
  left: 0;
  padding: 10px;
  border-radius: 3px;
  //border: 1px solid black;
  cursor: pointer;
  outline: none;
  display: flex;
  background: rgba(#279d6c, 0.8);
  color: white;

  svg {
    width: 24px;
    margin-right: 10px;
  }
}

.clickCall-mobile {
  position: relative;
  width: 100%;
  display: block;
}

