.movie {
  width: 800px;
  height: 450px;
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    width: 100%;
    height: 186px;
  }
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    width: calc(100% - 22px);
    height: calc(100% - 22px);
    position: fixed;
    box-sizing: border-box;
  }
}

.movieContainer {
  padding: 10px;
  border: 1px solid black;
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    width: calc(100% - 20px);
    box-sizing: border-box;
  }
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    width: 100%;
    height: 100%;
    position: fixed;
    box-sizing: border-box;
  }
}

.logo {
  width: 470px;
  height: 170px;
  background-size: contain !important;
  background: url('logo-new.png') no-repeat center center;
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    width: 100%;
  }
}

.header {
  width: 822px;
  box-sizing: border-box;
  height: 230px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    margin-bottom: 10px;
    width: calc(100% - 20px);
    display: block;
  }
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    display: none;
  }
}

.clickCall {
  position: absolute;
  font-family: monospace;
  font-size: 20px;
  left: 0;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
  outline: none;
  display: flex;
  background: rgba(255, 255, 255, 0.5);
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    position: relative;
    width: 100%;
    display: block;
  }

  svg {
    width: 24px;
    margin-right: 10px;
  }
}

