.pageWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 120px);
  padding: 20px 36px;
  box-sizing: border-box;
  text-align: center;
  
  :global {
    p {
      margin: 0;
      line-height: 1.5em;
      font-size: 22px;
      font-weight: 100;
    }
  }
}
