@import '/src/website/dimentions';
@import '/src/media-query-mixins';

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  transition: .35s ease-out;
  flex-direction: column;
  box-shadow: 0 -1px rgba(0, 0, 0, 0.1);
  margin-top: 12px;

  @include media('>tablet') {
    margin-top: 0;
    position: fixed;
    bottom: 0;
    z-index: 3;
    transform: translateY(calc(100% - #{$nav-bar-height}));
    background: rgba(white, 0.95);
    overflow: hidden;
  }
}

.footerTop {
  display: flex;
  //align-items: center;
  justify-content: center;
  height: $nav-bar-height;
  width: 100%;
}

.btn {
  height: 100%;

  :global {
    .inner {
      height: 100%;
    }
  }
}

.showContactForm {
  @include media('>tablet') {
    transform: translateY(0);
  }
}

.mail {
  margin: 0 !important;
  height: 30px !important;
  color: #7c5616;
}

.toaster {
  direction: rtl;
}
