@import '/src/website/dimentions';

.mainContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  direction: rtl;
  background: #f3f3f3;
  overflow: auto;
  font-family: Arial;
}

.stage {
  min-height: 100%;
  padding-top: $nav-bar-height;
  flex-shrink: 0;
  box-sizing: border-box;
}

$placeholderColor: #9f9b9b;

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $placeholderColor;
  font-style: normal;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $placeholderColor;
  font-style: normal;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $placeholderColor;
  font-style: normal;
}
:-moz-placeholder { /* Firefox 18- */
  color: $placeholderColor;
  font-style: normal;
}
