.contactForm {
  display: flex;
  align-items: center;
  width: 822px;
  margin-top: 20px;
  box-sizing: border-box;
  text-align: right;
  direction: rtl;
  margin-bottom: 40px;
  flex-shrink: 0;
}

.marginLeft {
  margin-left: 10px;
}

.textInput {
  width: 250px;
  min-width: initial;
}

.submit {
  height: 43px;
  line-height: 23px;
  font-size: 15px;
  padding: 11px;
  //font-family: monospace;
  cursor: pointer;
  user-select: none;
  outline: none;
  flex-grow: 1;
  background: #279d6c;
  color: white;
  transition: .3s;
  border-radius: 3px;
  
  &[disabled] {
    opacity: 0.5;
    filter: grayscale(1);
    pointer-events: none;
    cursor: default;
  }
}

.mobile {
  flex-direction: column;
  width: calc(100% - 20px);
}

.mobile-landscape {
  display: none;
}

.row {
  display: flex;
  align-items: center;
}

.row-mobile {
  width: 100%;
  margin-bottom: 20px;
}

.input-text-mobile {
  width: 100%;
  margin-left: 0;
  margin-bottom: 20px;
}

.check-box-mobile {
  width: 100%;
  text-align: center;
  
  &:last-child {
    margin-left: 0;
  }
}

.send-button-mobile {
  width: 100%;
}

.loader {
  width: 26px;
  transform: translateY(4px);
  margin-right: 10px;
}
